<div class="row">
    <div class="col-xs-12">
        <div class="col-xs-3">
            <button class="btn btn-primary" (click)="startGame()">Start Game</button>
        </div>

        <div class="col-xs-3">
                <button class="btn btn-warning" (click)="endGame()">Stop Game</button>
        </div>
         
        <div class="col-xs-3">
                <button class="btn btn-danger" (click)="resetGame()" *ngIf="incNum != null">Reset</button>
        </div>
        
        <div class="col-xs-3" *ngIf="incNum != null">
                Current Number: {{incNum}}
            </div>
    </div>
</div>